@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
    font-weight: bold;
}
header{
    color: white;
    text-shadow: 1px 1px 3px black;
    padding: 50px;
}
img{
    width: 250px;
}
main{
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.500);
    padding: 20px;
    margin: auto;
    width: 70vw;    
}
footer{
    background-color: black;
    color: white;
    width: 70vw;
    margin: auto;
    padding: 5px 20px;
    border-radius: 0px 0px 20px 20px;
}